            <section class="section accomplishments-section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.accomplishments.icon }}"></i>{{ i18n "accomplishments" }}</h2>
                {{ range .Site.Params.accomplishments.list }}
                <div class="item">
                    <span class="project-title">{{ .title }}</span> - <span class="project-tagline">{{ with .tagline }}{{ . | markdownify }}{{ end }}</span>
                </div><!--//item-->
                {{ end }}
            </section><!--//section-->
